#about{
	width:100%;
	height: 30vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 5% 0px 5%;
	position: relative;
  text-align: center;

}
.about-text{
	font-family: calibri;
	width: 100%;
}
.about-text h1{
	font-size: 5rem;
	color:#02110e;
}

.about-text h1{
	margin: 0px;
	padding: 30px;
}
.about-text p{
	font-size: 1.2rem;
	color:rgba(243, 35, 35, 0.9);
	
}

.about-model img {
  width: 100%;
  height: auto;
  
}