#footer {
  padding: 55px;
  background-color: rgba(61, 58, 58, 0.61);
  
}

.content {
  text-align: center; 
  border-bottom: 1px solid rgb(19, 18, 18);
  padding: 0 0 30px;
  margin: 0 0 30px;
  

}

.social {
  display: flex;
  justify-content: center;
  font-size: 0px;
  margin: 0 0 20px;
  
}

.social li {
  padding: 0 25px;

}

.social a {
  color: rgb(8, 8, 8);
}

.social a:hover {
  color: rgba(199, 199, 207, 0.274);
}

.copyright {
  text-align: center;
  color: rgb(219, 209, 209);

}

.copyright a {
  color:  rgba(168, 164, 164, 0.514);
}