#my-journey{
  width:100%;
  height: 80vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
  
  }
  
  .tittle h1 {
  color: #18d1acbd;
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
  }
  
  .tittle {
  text-align: center;
  margin: 20px 0px;
  }
  .first-block{
  background-color: #080808;
  background-image: url("images/family-grad.JPG");
  background-size: 100%;
  background-repeat:no-repeat;
  width:450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
  }

  .second-block {
  background-color: #080808;
  background-image: url("images/brothers-me.JPG");
  background-size: 100%;
  background-position: 0px -80px;
  width:450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
  }

  .third-block {
  background-color: #080808;
  background-image: url("images/sport-kuwait.JPG");
  background-size: 100%;
  background-position: 0px -80px;
  width:450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
  }

  .fourth-block {
  background-color: #080808;
  background-image: url("images/military-me.jpg");
  background-size: contain;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width:450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
  }

.five-block {
  background-color: #080808;
  background-image: url("images/wife-me.jpeg");
  background-size: 100%;
  background-position: 0px -50px;
  background-repeat: no-repeat;
  width:450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}

.six-block {
  background-color: #080808;
  background-image: url("images/traveling-wife.jpeg");
  background-size: contain;
  background-position: 10px 0px;
  background-repeat: no-repeat;
  width:450px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}
  .main-block{
  display: flex;
  justify-content: center;
  align-content: center;
  }

  .journey-text{
  width: 100%;
  height: 30%;
  background-color:#1E1E1E; 
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .journey-text p{
  margin: 0px;
  color: rgba(236, 225, 225, 0.836);
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  .journey-text p:hover{
  color: #18d1acbd;
  }
 
  .first-block:hover {
  transform:translateY(-10px);
  transition: all ease 0.3s;
  }
  
  .second-block:hover {
  transform:translateY(-10px);
  transition: all ease 0.3s;
    
  }

  .third-block:hover{
  transform:translateY(-10px);
  transition: all ease 0.3s;
  }
  .four-block:hover{
  transform:translateY(-10px);
  transition: all ease 0.3s;
  }
  
  .five-block:hover{
  transform:translateY(-10px);
  transition: all ease 0.3s;
  }
  
  .six-block:hover{
  transform:translateY(-10px);
  transition: all ease 0.3s;
  }  